#!/bin/bash

# Ask Odoo to give us a backup zip for each db
# It should contain:
# - dump.sql
# - filestore/
# - manifest.json

function title {
  echo -e "\n## $1 ##" | tee -a /dev/fd/2;
  date | tee -a /dev/fd/2;
}

for DB in '{{ odoo_role_odoo_dbs | join("' '") }}'; do

  title "Ask localhost odoo to compile a backup of database \"$DB\""
  curl -X POST \
    -F "name=$DB" \
    -F "master_pwd={{ odoo_role_odoo_db_admin_password }}" \
    -F "backup_format=zip" \
    -o "{{ backups_role_tmp_path }}/${DB}-backup.zip" \
    --silent --verbose \
    http://localhost:8069/web/database/backup

  echo "…done"

done
